<div class="container">
  <h1>Ingresar dinero</h1>
  <div class="row main-buttons">
    <div class="container" style="max-width: 40vw;">
      <div class="row mb-4 mt-4">
        <a class="btn btn-block btn-secondary" style="background-color: #882bda;" [routerLink]="['/dinero/ingresar/transferencia']">
          Transferencia
          Bancaria </a>
      </div>
      <div class="row mb-4">
        <a class="btn btn-block btn-secondary" style="background-color: #882bda;" [routerLink]="['/dinero/ingresar/efectivo']">
          Efectivo
        </a>
      </div>
      <div class="row">
        <a class="btn btn-block btn-secondary" style="background-color: #882bda;" [routerLink]="['/dinero/ingresar/tarjeta']">
          Tarjeta de Debito
        </a>
      </div>
    </div>
  </div>
</div>