<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <img src="../assets/img/Logo.png" class="img-fluid" alt="Logo PIL Money" width="50" height="50">
    <p class="fs-4 m-2" style="color:#30c9cd; font-weight:bold">PIL Money</p>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#principal" class="nav-link px-2 link-secondary">Inicio</a></li>
      <li><a href="#info-one" class="nav-link px-2 link-dark">Acerca de</a></li>
      <li><a href="#contact" class="nav-link px-2 link-dark">Contacto</a></li>

    </ul>
    <div class="col-md-3 text-end">
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false" style="background-color: #882bda;">
        Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" [routerLink]="['/']">Landing page</a></li>
        <li><a class="dropdown-item" [routerLink]="['/login']">Iniciar sesión</a></li>
        <li><a class="dropdown-item" [routerLink]="['/registrar']">Registrar</a></li>
        <li><a class="dropdown-item" [routerLink]="['/modificar']">Modificar</a></li>
        <li><a class="dropdown-item" [routerLink]="['/consulta']">Consultar Saldo</a></li>
        <li><a class="dropdown-item" [routerLink]="['/consulta/operaciones']">Últimos operaciones en pesos</a></li>
        <li><a class="dropdown-item" [routerLink]="['/dinero/retirar']">Retirar dinero</a></li>
        <li><a class="dropdown-item" [routerLink]="['/dinero/ingresar']">Ingresar dinero</a></li>
        <li><a class="dropdown-item" [routerLink]="['/dinero/transferir']">Transferir dinero</a></li>
        <li><button class="dropdown-item" (click)="cerrarSesion()">Cerrar sesion</button></li>
      </ul>
    </div>
  </header>
</div>