<form [formGroup]="loginForm">  
  <div class="text-center">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="./../../../assets/logo.jpeg" class="card-img mt-4" alt="LogoProy">
        </div>
          <!--Email-->
          <div class="col-md-8">
            <div class="card-body">
              <label for="emailId" class="form-label">Email</label>
              <input [class.is-invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                  type="email" class="form-control" id="emailId" formControlName='email' required>
              <div class="invalid-feedback">
                  Por favor ingrese un email válido.
            </div>
            <!--Contraseña-->
              <div class="col-md-12">
                <label for="contraseñaId" class="form-label">Contraseña</label>
                <input
                    [class.is-invalid]="loginForm.get('contraseña')?.touched && loginForm.get('contraseña')?.invalid"
                    type="password" class="form-control" id="contraseñaId" formControlName='contraseña' required>
                <div class="invalid-feedback">
                    La contraseña debe tener al menos 8 caracteres y ser alfanumérica.
                </div>
              </div>
              <!--Boton-->
              <div class="col-md-12 mt-4">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
              </div>
            </div>   
          </div>
      </div>
    </div>
  </div>
</form>
