<div class="pageContainer">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="card text-white mb-3" style="max-width: 30rem;">
          <div class="card-header text-center">Datos de transferencia</div>
          <div class="card-body text-center">
            <h6 class="card-title fw-light">Copia tu CVU para ingresar o transferir dinero desde otra
              cuenta</h6>
            <p class="card-text fs-4">CVU</p>
            <p class="card-text fs-4">{{cvu}}</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>