.footer {
  background-color: #330d69;
  width: 100%;
}

.social {
  margin-top: 4rem;
}
.social a {
  text-align: center;
  height: 4rem;
  width: 4rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 4rem;
  color: rgba(255, 255, 255, 0.3);
}
.social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
