<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="card text-white mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Saldo disponible</div>
        <div class="card-body">
          <h6 class="card-title fw-light">Pesos AR</h6>
          <p class="card-text text-end fs-4">$ 0,00</p>
          <h6 class="card-title fw-light">Dólares US</h6>
          <p class="card-text text-end fs-4">U$S 0,00</p>
        </div>
        <div class="card-footer text-center"><a [routerLink]="['/consultas/operaciones']" class="stretched-link">Últimos
            movimientos</a> </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>