<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

         <img src="../assets/img/Logo.png" class="img-fluid" alt="Logo PIL Money"width="50" height="50" >
        <p class="fs-4 m-2" style="color:#30c9cd; font-weight:bold">PIL Money</p>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#info-one" class="nav-link px-2 link-dark">Acerca de</a></li>
          <li><a href="#contact" class="nav-link px-2 link-dark">Contacto</a></li>

        </ul>

        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">Ingresá</button>
          <button type="button" class="btn btn-primary">Creá una cuenta</button>
        </div>
      </header>
    </div>

    <!-- SECTION -->
    <section id="principal">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="header-content-left">
              <img
                src="assets/img/img_01.png"
                class="img-fluid"
                alt="Dispositivos y tarjeta Pil Money"
              />
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="header-content-right mt-5">
              <h1 class="display-4">SOMOS EL FUTURO</h1>
              <p class="fs-6">
                Somos la experiencia que tu dinero necesitaba. Las carteras y
                billeteras físicas se han quedado en el pasado, hoy somos el
                futuro. "La maravilla tiene un nombre: PIL MONEY."
              </p>
              <a href="#" class="btn btn-outline-secondary btn-lg mt-2"
                >Conocé más</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="wave">
      <div style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff"
          ></path>
        </svg>
      </div>
    </div>
    <section id="info-one">
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <div class="info-right">
              <h2>Mirá nuestros beneficios</h2>

              <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                <div class="col-lg-3">
                  <div class="card h-100 p-4">
                    <i class="bi bi-currency-dollar"></i>
                    <div class="card-body">
                      <h5 class="card-title text-center">Transferencias</h5>
                      <p class="card-text">
                        Enviá y recibí dinero de forma rápida y segura.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100 p-4">
                    <i class="bi bi-cart4"></i>

                    <div class="card-body">
                      <h5 class="card-title text-center">Compras</h5>
                      <p class="card-text">
                        Hacé compras en cualquier comercio o página web del
                        mundo que acepte Mastercard.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100 p-4">
                    <i class="bi bi-currency-exchange"></i>
                    <div class="card-body">
                      <h5 class="card-title text-center">Cambio de moneda</h5>
                      <p class="card-text">
                        Cambia pesos y dólares con una cotización preferencial.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card h-100 p-4">
                    <i class="bi bi-credit-card-fill"></i>
                    <div class="card-body">
                      <h5 class="card-title text-center">Recarga</h5>
                      <p class="card-text">
                        Recargá tus servicios y pagá tus facturas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- CONTACT -->
    <section id="contact">
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-9">
            <h3>Contacto</h3>
            <form action="">
              <div class="input-group mb-3 mt-4">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-person-fill"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-envelope-fill"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text"
                  ><i class="bi bi-pen-fill"></i
                ></span>
                <textarea
                  name=""
                  cols="30"
                  rows="10"
                  placeholder="Mensaje"
                  class="form-control"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="col ml-auto">
            <div class="social d-flex justify-content-center">

              <a class="mx-2" href="#!"> <i class="bi bi-instagram" style="font-size:2rem"></i></a>
              <a class="mx-2" href="#!"><i class="bi bi-facebook" style="font-size:2rem"></i></a>
          </div>
            <p class="text-center text-white p-4">Copyright © 2021 PIL Money</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
