<div class="header container-fluid">
  <div class="row">
    <div class="col-1">
      <img
      id="img-nav-bar"
        src="./../../../assets/logo.jpeg"
        alt="logoPil"
        srcset=""
        style="width: 50px"
      />
    </div>
    <div class="col"><h1>MONEY PIL</h1></div>
    <div class="col-3">
        <div class="nav-bar-buttons">
            <button class="btn-sm btn-primary mx-1" type="submit">Tu cuenta</button>
            <button class="btn-sm btn-secondary mx-1" type="submit">Cerrar sesion</button>
        </div>
    </div>
  </div>

</div>
