<div class="container d-flex-column justify-content-center" style="max-width: 40vw;">


  <div class="card text-white mb-3">
    <div class="card-body text-center">
      <h4 class="card-title fw-light">Ingrese el monto y el cvu de la cuenta a transferir </h4>
      <form [formGroup]="transferirDineroForm" class="retirar-form" (ngSubmit)="submitTransferencia()">
        <div class="col">
          <label class="form-label" for="montoId">Monto</label>
          <input
            [class.is-invalid]="transferirDineroForm.get('monto')?.touched && transferirDineroForm.get('monto')?.invalid"
            formControlName="monto" id="montoId" class="form-control" type="text" />
          <div class="invalid-feedback">
            Ingrese un monto valido
          </div>
        </div>

        <div class="col mt-2">
          <label class="form-label" for="cbuId">CVU, CBU o alias</label>
          <input
            [class.is-invalid]="transferirDineroForm.get('cvu')?.touched && transferirDineroForm.get('cvu')?.invalid"
            formControlName="cvu" id="cbuId" class="form-control" type="text" />
          <div class="invalid-feedback">
            Ingrese un CBU/CVU valido
          </div>
        </div>
        <div class="col mt-2">
          <button class="btn btn-success" type="submit">Confirmar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card text-white mb-3">
    <div class="card-body text-center">
      <h4 class="card-title fw-light">Informacion de la cuenta transferida</h4>
      <h3 class="card-title">Nombre completo:</h3>
      <h5 class="card-title fw-light">{{cuentaAMostrar?.usuarios[0]?.nombre_completo}}</h5>
      <h3 class="card-title">Saldo:</h3>
      <h5 class="card-title fw-light">{{cuentaAMostrar?.saldo}}</h5>
    </div>
  </div>
</div>