<div class="m-3 text-center">
    <h5 class="display-5">Ultimas operaciones en pesos</h5>
</div>
<div class="container pt-4 table-responsive" id="divTable">
    <table class="table  table-hover">
        <thead class="table-dark">
            <tr>
                <th>Operación</th>
                <th class="text-center">Fecha y hora</th>
                <th class="text-end">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Servicio</td>
                <td class="text-center">18/07/2021 14:25hs</td>
                <td class="text-end" style="color: rgb(236, 27, 27);">$-1234</td>
            </tr>
            <tr>
                <td>Restaurante</td>
                <td class="text-center">10/07/2021 23:43hs</td>
                <td class="text-end" style="color: rgb(236, 27, 27);">$-1850</td>
            </tr>
            <tr>
                <td>Transferencia</td>
                <td class="text-center">09/07/2021 10:05hs</td>
                <td class="text-end" style="color: rgb(2, 163, 2)">$5500</td>
            </tr>
            <tr>
                <td>Venta ML</td>
                <td class="text-center">28/06/2021 15:13hs</td>
                <td class="text-end" style="color: rgb(2, 163, 2)">$30000</td>
            </tr>
            <tr>
                <td>Cuota</td>
                <td class="text-center">25/06/2021 00:02hs</td>
                <td class="text-end" style="color: rgb(236, 27, 27);">$-3500</td>
            </tr>
        </tbody>
    </table>
</div>