<div class="m-3 text-center">
    <h5 class="display-5">Ultimas operaciones en pesos</h5>
</div>
<div class="container pt-4 table-responsive" id="divTable">
    <table class="table  table-hover">
        <thead class="table-dark">
            <tr>
                <th>Operación</th>
                <th class="text-center">Fecha y hora</th>
                <th class="text-end">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimiento of movimientos">
                <td>{{movimiento.tipo_movimiento}}</td>
                <td class="text-center">{{movimiento.fecha_hora | date: 'dd/MM/yyyy hh:mm' }}</td>
                <td class="text-end">{{movimiento.monto | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>