<form [formGroup]="modificarForm" (ngSubmit)="submitDatosForm()">
    <div class="container">
        <div class="row mt-3 mb-3">
            <!--Nombre completo-->
            <div class="col-12 col-sm-6">
                <label for="nombreCompletoId" class="form-label">Nombre completo</label>
                <input
                    [class.is-invalid]="modificarForm.get('nombreCompleto')?.touched && modificarForm.get('nombreCompleto')?.invalid"
                    type="text" class="form-control" id="nombreCompletoId" formControlName='nombreCompleto' required>
                <div class="invalid-feedback">
                    Por favor ingrese un nombre valido.
                </div>
            </div>
            <!--Email-->
            <div class="col-12 col-sm-6">
                <label for="emailId" class="form-label">Email</label>
                <input [class.is-invalid]="modificarForm.get('email')?.touched && modificarForm.get('email')?.invalid"
                    type="email" class="form-control" id="emailId" formControlName='email' required>
                <div class="invalid-feedback">
                    Por favor ingrese un email con formato valido.
                </div>
            </div>
            <!--DNI-->
            <div class="col-12 col-sm-4">
                <label for="dniId" class="form-label">DNI</label>
                <input [class.is-invalid]="modificarForm.get('dni')?.touched && modificarForm.get('dni')?.invalid"
                    type="text" class="form-control" id="dniId" formControlName='dni' required>
                <div class="invalid-feedback">
                    Por favor ingrese un DNI valido (Mínimo 6 caracteres).
                </div>
            </div>
            <!--Sexo-->
            <div class="col-12 col-sm-4">
                <label for="sexoId" class="form-label">Sexo</label>
                <select [class.is-invalid]="modificarForm.get('sexo')?.touched && modificarForm.get('sexo')?.invalid"
                    class="form-select" id="sexoId" formControlName="sexo" required>
                    <option selected disabled value="">Elija...</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
                <div class="invalid-feedback">
                    Please seleccione una opción.
                </div>
            </div>
            <!--Fecha de nacimiento-->
            <div class="col-12 col-sm-4">
                <label for="fechaDeNacimientoId" class="form-label">Fecha de nacimiento</label>
                <input
                    [class.is-invalid]="modificarForm.get('fechaDeNacimiento')?.touched && modificarForm.get('fechaDeNacimiento')?.invalid"
                    type="date" class="form-control" id="fechaDeNacimientoId" formControlName='fechaDeNacimiento'
                    min="1900-01-01" max="2999-12-31" required>
                <div class="invalid-feedback">
                    Ingrese una fecha valida
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-lg btn-primary">Modificar datos</button>
            </div>
        </div>
    </div>
</form>

<form [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm()">
    <div class="container">
        <div class="row mt-3 mb-3 justify-content-center">
            <!--Nueva contraseña-->
            <div class="col col-sm-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <label for="nuevaPasswordId" class="form-label">Nueva contraseña</label>
                <input
                    [class.is-invalid]="passwordForm.get('nuevaPassword')?.touched && passwordForm.get('nuevaPassword')?.invalid"
                    type="password" class="form-control" id="nuevaPasswordId" formControlName='nuevaPassword' required>
                <div class="invalid-feedback">
                    La contraseña debe tener entre 3 y 12 caracteres
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary">Modificar contraseña</button>
            </div>
        </div>
    </div>
</form>